[submodule "android-client/aXMLRPC"]
	path = android-client/aXMLRPC
	url = https://github.com/benweissmann/aXMLRPC.git
[submodule "zserv/python-zephyr"]
	path = zserv/python-zephyr
	url = https://github.com/Stebalien/python-zephyr.git
